html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

div#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    /*width: calc(100% - 300px);*/
}

div.trackcol{
    width:100px;
}

div.durationcol{
    width:50px;
}

a.permalink {
    float:right;
}

div#logo, div#logo img {
    height:100px;
}
div#logo p{
    margin-top: 0px;
    margin-bottom: 0px;
}


#folderrightdiv, #removeelevation, #comparebutton, #optionbuttonsdiv{
    float:right;
    display:block;
}

#titlechoosedirform, #folderleftdiv, #optioncheckdiv, #computecheckdiv{
    float:left;
    display:block;
}

#titlechoosedirform{
    font-size: 20px;
}

ul,hr {
    margin-top : 3px;
    margin-bottom : 3px;
}
h3 {
    margin-top : 5px;
    margin-bottom : 5px;
}

.transparent {
    opacity : 0.6;
}

.uibutton {
    font-size: 13px;
    height : 28px;
}

#filterlist li input{
    margin-bottom: 10px;
    width:100px;
}

#filterlist li b{
    margin-bottom: 10px;
}

#filterlist li .ui-spinner {
    height:28px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#clearfilter{
    float:right;
    margin-left:10px;
}
#applyfilter{
     float:right;
}

#filtertabtitle b{
    float:left;
    margin-left:30px;
    font-size:24px;
}

#gpxtable {
    word-wrap: break-word;
}
